@charset "UTF-8";

@font-face {
  font-family: "essential-light";
  src:url("essential-light.eot");
  src:url("essential-light.eot?#iefix") format("embedded-opentype"),
    url("essential-light.woff") format("woff"),
    url("essential-light.ttf") format("truetype"),
    url("essential-light.svg#essential-light") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "essential-light" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "essential-light" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-essential-light-01-chevron-left:before {
  content: "a";
}
.icon-essential-light-02-chevron-right:before {
  content: "b";
}
.icon-essential-light-03-chevron-up:before {
  content: "c";
}
.icon-essential-light-04-chevron-down:before {
  content: "d";
}
.icon-essential-light-05-tick:before {
  content: "e";
}
.icon-essential-light-06-arrow-left:before {
  content: "f";
}
.icon-essential-light-07-arrow-right:before {
  content: "g";
}
.icon-essential-light-08-arrow-up:before {
  content: "h";
}
.icon-essential-light-09-arrow-down:before {
  content: "i";
}
.icon-essential-light-10-close-big:before {
  content: "j";
}
.icon-essential-light-11-plus-big:before {
  content: "k";
}
.icon-essential-light-14-grid-view:before {
  content: "l";
}
.icon-essential-light-15-close-circle:before {
  content: "m";
}
.icon-essential-light-16-plus-cricle:before {
  content: "n";
}
.icon-essential-light-17-minus-circle:before {
  content: "o";
}
.icon-essential-light-18-plus-square:before {
  content: "p";
}
.icon-essential-light-19-close-square:before {
  content: "q";
}
.icon-essential-light-20-minus-square:before {
  content: "r";
}
.icon-essential-light-21-tick-circle:before {
  content: "s";
}
.icon-essential-light-22-tick-square:before {
  content: "t";
}
.icon-essential-light-23-forbidden:before {
  content: "u";
}
.icon-essential-light-24-square-blank:before {
  content: "v";
}
.icon-essential-light-27-envelope:before {
  content: "w";
}
.icon-essential-light-28-trash:before {
  content: "x";
}
.icon-essential-light-29-camera:before {
  content: "y";
}
.icon-essential-light-30-document:before {
  content: "z";
}
.icon-essential-light-31-document-copy:before {
  content: "A";
}
.icon-essential-light-32-lock-closed:before {
  content: "B";
}
.icon-essential-light-33-lock-open:before {
  content: "C";
}
.icon-essential-light-34-arrow-in-up:before {
  content: "D";
}
.icon-essential-light-35-arrow-in-down:before {
  content: "E";
}
.icon-essential-light-36-download:before {
  content: "F";
}
.icon-essential-light-37-upload:before {
  content: "G";
}
.icon-essential-light-40-cloud:before {
  content: "H";
}
.icon-essential-light-41-home:before {
  content: "I";
}
.icon-essential-light-42-pen:before {
  content: "J";
}
.icon-essential-light-43-off:before {
  content: "K";
}
.icon-essential-light-44-phone:before {
  content: "L";
}
.icon-essential-light-45-user:before {
  content: "M";
}
.icon-essential-light-46-print:before {
  content: "N";
}
.icon-essential-light-47-video:before {
  content: "O";
}
.icon-essential-light-48-clipboard:before {
  content: "P";
}
.icon-essential-light-49-magnifier:before {
  content: "Q";
}
.icon-essential-light-50-magnifier-plus:before {
  content: "R";
}
.icon-essential-light-53-mobile:before {
  content: "S";
}
.icon-essential-light-54-desktop:before {
  content: "T";
}
.icon-essential-light-55-attachment:before {
  content: "U";
}
.icon-essential-light-56-tag:before {
  content: "V";
}
.icon-essential-light-57-globe:before {
  content: "W";
}
.icon-essential-light-58-link:before {
  content: "X";
}
.icon-essential-light-59-question:before {
  content: "Y";
}
.icon-essential-light-60-question-circle:before {
  content: "Z";
}
.icon-essential-light-61-exclamation:before {
  content: "0";
}
.icon-essential-light-62-info:before {
  content: "1";
}
.icon-essential-light-63-share:before {
  content: "2";
}
.icon-essential-light-66-volume:before {
  content: "3";
}
.icon-essential-light-67-volume-plus:before {
  content: "4";
}
.icon-essential-light-68-volume-mute:before {
  content: "5";
}
.icon-essential-light-69-volume-minus:before {
  content: "6";
}
.icon-essential-light-70-control-play:before {
  content: "7";
}
.icon-essential-light-71-control-stop:before {
  content: "8";
}
.icon-essential-light-72-control-pause:before {
  content: "9";
}
.icon-essential-light-73-control-rewind:before {
  content: "!";
}
.icon-essential-light-74-control-fastforward:before {
  content: "\"";
}
.icon-essential-light-75-control-start:before {
  content: "#";
}
.icon-essential-light-76-control-end:before {
  content: "$";
}
.icon-essential-light-79-bookmark:before {
  content: "%";
}
.icon-essential-light-80-switch-off:before {
  content: "&";
}
.icon-essential-light-81-swicth-on:before {
  content: "'";
}
.icon-essential-light-82-wifi:before {
  content: "(";
}
.icon-essential-light-83-microphone:before {
  content: ")";
}
.icon-essential-light-84-calendar:before {
  content: "*";
}
.icon-essential-light-85-users:before {
  content: "+";
}
.icon-essential-light-86-clock:before {
  content: ",";
}
.icon-essential-light-87-refresh:before {
  content: "-";
}
.icon-essential-light-88-pin:before {
  content: ".";
}
.icon-essential-light-89-map:before {
  content: "/";
}
.icon-essential-light-92-expand:before {
  content: ":";
}
.icon-essential-light-93-arrow-left-right:before {
  content: ";";
}
.icon-essential-light-94-shopping-cart:before {
  content: "<";
}
.icon-essential-light-95-folder:before {
  content: "=";
}
.icon-essential-light-96-file:before {
  content: ">";
}
.icon-essential-light-97-file-plus:before {
  content: "?";
}
.icon-essential-light-98-file-minus:before {
  content: "@";
}
.icon-essential-light-99-statistic-pie:before {
  content: "[";
}
.icon-essential-light-100-statistic-graph:before {
  content: "]";
}
.icon-essential-light-101-list-view:before {
  content: "^";
}
.icon-essential-light-12-minus-big:before {
  content: "_";
}
.icon-essential-light-13-nav-burger:before {
  content: "`";
}
.icon-essential-light-25-circle-blank:before {
  content: "{";
}
.icon-essential-light-26-heart:before {
  content: "|";
}
.icon-essential-light-38-cloud-download:before {
  content: "}";
}
.icon-essential-light-39-cloud-upload:before {
  content: "~";
}
.icon-essential-light-51-magnifier-minus:before {
  content: "\\";
}
.icon-essential-light-52-photo:before {
  content: "\e000";
}
.icon-essential-light-64-settings:before {
  content: "\e001";
}
.icon-essential-light-65-cogwheel:before {
  content: "\e002";
}
.icon-essential-light-77-control-fullscreen:before {
  content: "\e003";
}
.icon-essential-light-78-speech-bubble:before {
  content: "\e004";
}
.icon-essential-light-90-navigate:before {
  content: "\e005";
}
.icon-essential-light-91-compass:before {
  content: "\e006";
}
