*, body {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    overflow: hidden !important;
    /*    padding-top: 1rem !important;*/
}

.ui.two.columns.container.centered.grid {
    height: 100%;
    width: 80% !important;
    /*overflow: hidden;*/
}

.ui.red.segment:not(.inverted) {
    border-bottom: 2px solid #db2828 !important;
    border-top: 1px solid rgba(34, 36, 38, .15) !important;
}

menu {
    margin-left: -2%;
}

.icons {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {
    width: 80% !important;
    margin-left: 18% !important;
}

::-webkit-scrollbar {
    display: none;
}

.hiddenError {
    opacity: 0 !important;
}
@media screen
and (min-width: 1025px)
and (max-height: 768px){
    #dishModal {
        position: static !important;
        margin: 0.5rem auto !important;
    }
}

.hidePage {
    display: none; !important;
}