.ui.raised.very.padded.text.container.segment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui.big.left.icon.input {
    width: 100%;
    margin-bottom: 1rem;
}

