<div class="ui raised very padded text container segment">
    <div class="ui negative message" *ngIf="isShowErrorMessage">
        <div class="header">
            Ошибка авторизации.
        </div>
        <p>
            {{errorMessage}}
        </p>
    </div>
    <div class="ui big left icon input" [ngClass]="{error: isLoginWrong}">
        <input type="text" [(ngModel)]="login" placeholder="Логин" (keyup)="loginChanged()">
        <i class="icon icon-essential-light-53-mobile"></i>
    </div>
    <div class="ui big left icon input" [ngClass]="{error: isPasswordWrong}">
        <input type="password" [(ngModel)]="password" placeholder="Пароль" (keyup)="passwordChanged($event)">
        <i class="icon icon-essential-light-36-download"></i>
    </div>
    <button class="ui button big green" (click)="logIn()">
        Вход
    </button>
</div>