<authorization *ngIf="isShowAuthorizationWindow"></authorization>
<div *ngIf="isShowMainContent">
    <nav-tab></nav-tab>
    <home-page [ngClass]="{hidePage: selectedPage != 0}"></home-page>
    <page1 [ngClass]="{hidePage: selectedPage != 1}"></page1>
    <page2 [ngClass]="{hidePage: selectedPage != 2}"></page2>
    <page3 [ngClass]="{hidePage: selectedPage != 3}"></page3>
</div>