.ui.visible.very.thin.sidebar, .ui.vertical.basic.buttons {
    height: 100%;
}

.ui.visible.very.thin.sidebar {
    width: 8%;
}

.ui.vertical.basic.buttons {
    width: 100%;
}


.firstPanel> .ui.vertical.basic.buttons  {
    border-right: 0 !important;
}

.secondPanel {
    border-left: 0 !important;
    margin-left: 8% !important;
}

.ui.vertical.basic.buttons{
    background: white;
}

.ui.vertical.basic.buttons .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selectedSection {
    border-right: 2px solid red;
}