<div class="ui visible left very thin sidebar firstPanel">
    <div class="ui vertical basic buttons">
        <div class="ui button"
             *ngFor="let button of firstPanel; let i = index;"
             (click)="selectPage(i)"
             [ngClass]="{selectedSection: i == clickedButtonFirstPanel}">
            {{button}}
        </div>
    </div>
</div>
