<div class="ui container centered grid">
    <div class="ui header ">
        <div class="headerButtons">
            <label class="myLabel">Користувач: {{userName}}</label>
        </div>
        <div class="ui loOut ">

            <button class="ui button red" (click)="logOut()">
            Вихід
        </button>
        </div>
    </div>
    <div >
        <textarea [disabled]="!isActive"[(ngModel)]="pageContent"></textarea>
    </div>

</div>