.ui.container.centered.grid {
    height: 100%;
    width: 90% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
    width: 100% !important;
    margin-left: 9% !important;
}

.headerButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.logOut{
    width: 20%;
    align-content: space-between;
}

.ui.header {
    width: 100%;
    height: 12%;
    margin: 5px;
    border-bottom: solid lightgray 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}