<div class="ui container centered grid">
    <div class="ui header ">
        <div class="headerButtons">
            <label class="myLabel">Користувач: {{userName}}</label>
        </div>
        <div class="ui loOut ">

            <button class="ui button red" (click)="logOut()">
                Вихід
            </button>
        </div>
    </div>
    <div>
        <textarea *ngIf="isVisible" [disabled]="!isActive" [(ngModel)]="pageContent"></textarea>
    </div>
    <label *ngIf="!isVisible">Немає прав для перегляду ( Роль: User)</label>
    <div class="ui loOut ">
        <button class="ui button green" *ngIf="isVisible" [ngClass]="{disabled: noAccess}" (click)="edit()">
            Редагувати
        </button>
    </div>
</div>